<div class="container">

  <div class="header">
    <div class="title">Тестовое Задание</div>
  </div>

  <div class="content">
    <div class="dropdown-menu">
      <h3>Выберите город</h3>
      <button mat-button [matMenuTriggerFor]="menu">{{ cities[activeCityIndex] }}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item
                *ngFor="let city of cities; let i = index"
                (click)="onClick(i)"
        >
          {{ city }}
        </button>
      </mat-menu>
    </div>

    <div class="map">
      <div class="map-container"
           leaflet
           [leafletOptions]="options"
           (leafletMapReady)="onMapReady($event)">
      </div>
    </div>
  </div>

  <div class="footer"></div>
</div>
